- flash.each do |type,msg|
	%p#notice= msg

%h2 Modifica il tuo appunto

#{link_to 'Home', appunti_index_path} #{link_to 'Back', appunti_path(@appunto)}

= form_tag appunti_path, :method => :put do

	= label :appunto, :contenuto, 'Testo'
	= text_area :appunto, :contenuto, value: @appunto.contenuto
	
	= label :appunto, :category, 'Categoria'
	= select :appunto, :category, ["Arte", "Letteratura", "Scienza", "Tecnologia"], value: @appunto.category

	= submit_tag 'Salva'
