%h1 Benvenuto su Appuntinator


%h3 Ecco a te la lista di tutti gli appunti presenti nel nostro DataBase

- if user_signed_in?
    = link_to("Log out", destroy_user_session_path(@user), method: :delete)
- else 
    = link_to("Log in", new_user_session_path)

%table#appunti
    %thead
        %tr
            %th Contenuto
            %th Data di Pubblicazione
    %tbody
    - @appunti.each do |app|
        %tr
            %td= app.contenuto
            %td= app.release_date.strftime("%d/%m/%Y")
            %td= link_to "Leggi di più", appunti_path(app)

#{link_to 'Aggiungi un appunto', new_appunti_path}