- flash.each do |type,msg|
    %p#notice= msg

%h1 Benvenuto su Appuntinator

- if user_signed_in?
    Accesso eseguito come #{@user.username}


%h3 Ecco a te la lista di tutti gli appunti presenti nel nostro DataBase

- if user_signed_in?
    %p
        = link_to("Modifica il tuo profilo", edit_user_registration_path(@user))

%table#appunti
    %thead
        %tr
            %th Contenuto
            %th rating
            %th # commenti
            %th Data di Pubblicazione
    %tbody
    - @appunti.order(rating: :desc).each do |app|
        %tr
            %td= app.contenuto
            %td= app.rating
            %td= app.comm_counter
            %td= app.release_date.strftime("%d/%m/%Y")
            %td= link_to "Leggi di più", appunti_path(app)

- if user_signed_in?
    %p
        = link_to("Crea un appunto", new_appunti_path)
        |
        = link_to("Log out", destroy_user_session_path(@user), method: :delete)
        
        -if current_user.is_admin
            = link_to("Control panel", admin_index_path)

- else 
    %p
        Per usare funzioni più avanzate devi eseguire il
        = link_to "login.", new_user_session_path
    
- if user_signed_in?
    %p Contatta gli sviluppatori di Appuntinator: 
    = mail_to( "gianlucadecarlo98@gmail.com")
    = mail_to( "aandreani@gmail.com")
