%h2 Condividi un nuovo appunto

#{link_to 'Home', appunti_index_path}

= form_tag appunti_index_path, :method => :post do

	= label :appunto, :contenuto, 'Testo'
	= text_field :appunto, :contenuto
	
	= label :appunto, :release_date, 'Data di Pubblicazione'
	= date_select :appunto, :release_date
	
	= submit_tag 'Salva'