- flash.each do |type,msg|
	%p#notice= msg

%h2 Leggi di più

#{link_to 'Home', appunti_index_path}

%table#appunti
	%thead
		%tr
			%th Testo
			%th Rating
			%th Categoria
			%th Author
	%tbody
		%td= @appunto.contenuto
		%td= @appunto.rating
		%td= @appunto.category
		%td= link_to(@user.username, user_profile_path(@user.id))
 
-if user_signed_in?
	-if @currentUser.id != @appunto.user_id
		= link_to("Aggiungi un commento", new_appunti_comment_path(@appunto))
	-if @currentUser.id == @appunto.user_id || @currentUser.is_admin
		= link_to("Modifica", edit_appunti_path(@appunto))
		= link_to("Rimuovi", appunti_path(@appunto), method: :delete, data: { confirm: 'Vuoi davvero cancellare il tuo appunto?'})

%table#appunti
	%thead
		%tr
			%th Commento
			%th Voto
	%tbody
	- @comments.each do |c|
		%tr
			%td= c.body
			%td= c.rating
			%td= link_to "edit", edit_appunti_comment_path(@appunto,c)
			%td= link_to "del", appunti_comment_path(@appunto, c), method: :delete